<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
	<meta charset="UTF-8">
	<title>MEDz: Profile</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		
		<div class="jumbotron">
			<div id="links" style="width: 100%;height: 100%">
			<table  style="display: inline-flex;width: 100%;height: 100%">
				<tr style="width: 100%;height: 100%">
					<td><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/doctors (id=${profile.clinic.id})}">Lekari</a></td>
					<td><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/rooms (id=${profile.clinic.id})}">Sobe</a></td>
					<td><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/examTypes (id=${profile.clinic.id})}">Tipovi pregleda</a></td>
					<td><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/leaveRequests (id=${profile.clinic.id})}">Leave Requests</a></td>
					
				</tr>
				<tr style="width: 100%;height: 100%">
					<td><a style="width: 100%;height: 100%" class="btn btn-outline-primary" th:href="@{/clinic/{id}/reports (id=${profile.clinic.id})}" id="clinicsReports">Izvestaji</a></td>
					<td><a style="width: 100%;height: 100%" class="btn btn-outline-primary" th:href="@{/clinic/{id}/examSlots (id=${profile.clinic.id})}">Termini pregleda</a></td>
					<td><a style="width: 100%;height: 100%" class="btn btn-outline-primary" th:href="@{/clinic/{id}/examRequests (id=${profile.clinic.id})}" id="examRequests">Zahtevi pregleda</a></td>
				<td><a style="width: 100%;height: 100%" class="btn btn-outline-primary" th:href="@{/clinic/{id}/profile/{profileId} (profileId=${profile.IDNum},id=${profile.clinic.id})}" id="examRequests">Profil</a></td>
				
				</tr>
			</table>
		</div>
		</div>
		
		<div class="card">
			<div class="card card-body">
				<p class="text text-center">Clinic:</p>
				<table class="table table-hover">
					<thead>
						<tr>
							<td th:text="${profile.clinic.id}"></td>
							
							<td rowspan="2" th:text="${profile.clinic.description}"></td>
						</tr>
					</thead>
					
					<tbody>
						<tr>
							<td th:text="${profile.clinic.address}"></td>
						</tr>
						<tr>
						<td><a style="width: 100%;height: 100%" class="btn btn-outline-primary" th:href="@{/clinic/{id}/profile/{profileId} (profileId=${profile.IDNum},id=${profile.clinic.id})}" id="examRequests">Izmeni</a></td>
				
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	
	</div>
</body>
</html>