<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
	<meta charset="UTF-8">
	<title>MEDz</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		
		<div class="alert alert-success">
			<p class="text text-center">Welcome to MEDz!</p>
			<p class="text text-center">To start using our services, please <a href="/login">log into</a> your new account.</p>
		</div>
	
	</div>
</body>
</html>