<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insasfase</title>
</head>
<body>
<div layout:fragment="content" class="container">
<div class="card">
			<div class="card card-body">
			<div class="card card-body">
			
			<form th:action="@{/clinic/{id}/searchDoctors (id=${clinicId})}">
				<div class="alert alert-info" th:if="${error}">
					<p class="text text-center">You can't delete a doctor that
						has already been assigned to an exam!</p>
					

				</div>
				<div class="alert alert-primary">
						<h2 class="text-center">Current exam configuration:</h2>
						<table class="table table-hover">
							<thead>
								<tr>
									<th><input class="form-control" name="name" id="name"
										th:value="${searchName}" placeholder="Filter by name" /></th>
									<th><input class="form-control" name="lastName"
										id="lastName" th:value="${searchLastName}"
										placeholder="Filter by Last Name" /></th>
									<th><input type="submit" value="Filter"
										class="btn btn-primary"></th>
								</tr>
							</thead>
						</table>
					</div>
				<p class="text text-center">Doctors:</p>
				<table  class="table table-hover">
					<thead>
						<tr>
							<th>ID</th>
							<th>Name</th>
							<th>LastName</th>
							<th>Address</th>
							<th>Mobile number</th>
							<th>Specialty</th>
							<th>Working hours start</th>
							<th>Working hours end</th>
							<th>Email</th>
							<th><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/doctors/form (id=${clinicId})}">Dodaj</a></th>
						
						</tr>
					</thead>
					
					<tbody th:each="profile : ${doctors}">
						<tr>
							<td th:text="${profile.IDNum}"></td>
							<td th:text="${profile.name}"></td>
							<td th:text="${profile.lastName}"></td>
							<td th:text="${profile.address}"></td>
							<td th:text="${profile.cellNumber}"></td>
							<td th:text="${profile.specialty.name}"></td>
							<td th:text="${#dates.format(profile.workingHoursStart, 'HH:mm')}"></td>
							<td th:text="${#dates.format(profile.workingHoursEnd, 'HH:mm')}"></td>
							<td th:text="${profile.email}"></td>
							<td><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/doctors/remove/{doctorId} (id=${clinicId}, doctorId=${profile.IDNum})}">Obrisi</a></td>
						
						</tr>
					</tbody>
				</table>
				</form>
			</div>
		</div>
	</div>
</div></body>
</html>