<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<script type="text/javascript">

</script>
<body><div layout:fragment="content" class="container">
<div class="card">
			<div class="card card-body">
				<p class="text text-center">Termini pregleda:</p>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Tip</th>
							<th>Datum</th>
							<th>Trajanje</th>
							<th>Sala</th>
							<th>Doktor</th>
							<th>Pacijent</th>
							<th>Cena</th>
							<th>Popust</th>
							<th>Odobren</th>
							<th><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/examSlots/form (id=${clinicId})}">Dodaj</a></th>
						
						</tr>
					</thead>
					
					<tbody th:each="exam : ${exams}">
						<tr>
							<td th:text="${exam.type.name}"></td>
							<td th:text="${#dates.format(exam.start, 'yyyy-MM-dd, HH:mm')}"></td>
							<td th:text="${#dates.format(exam.duration, 'HH:mm')}"></td>
							<td th:if="${exam.room != null}" th:text="${exam.room.number}"></td>
							<td th:unless="${exam.room != null}"></td>
							
							<td th:if="${exam.doctor != null}" th:text="${exam.doctor.name} + ${exam.doctor.lastName}"></td>
														<td th:unless="${exam.doctor != null}"></td>
							
							<td th:if="${exam.patient != null}" th:text="${exam.patient.name} + ${exam.patient.lastName}"></td>
						 	<td th:unless="${exam.patient != null}"></td>
						 	<td th:if="${exam.price != null}" th:text="${exam.price}"></td>
							<td th:unless="${exam.price != null}"></td>
							
							<td th:if="${exam.discount != null}" th:text="${exam.discount}"></td>
							<td th:unless="${exam.discount != null}"></td>
							
							<td th:if="${exam.approved != null}" th:text="${exam.approved}"></td>
							<td th:unless="${exam.approved != null}"></td>
							
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>