<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}"><head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" class="container">
<div class="card">
			<div class="card card-body">
				<p class="text text-center">Exam requests:</p>
				<table class="table table-hover">
					<thead>
						<tr>
							<th>Type</th>
							<th>Start date</th>
							<th>End</th>
							<th>Doctor</th>
							<th>Patient</th>
							
						</tr>
					</thead>
					
					<tbody th:each="exam : ${exams}">
						<tr>
							<td th:text="${exam.type.name}"></td>
							<td th:text="${#dates.format(exam.start, 'yyyy-MM-dd, HH:mm')}"></td>
							<td th:text="${#dates.format(exam.duration, 'HH:mm')}"></td>
							<td th:text="${exam.doctor.name} + ${exam.doctor.lastName}"></td>
							<td th:text="${exam.patient.name} + ${exam.patient.lastName}"></td>
						 	<th><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/examRequests/{requestId}/approve (id=${clinicId}, requestId=${exam.id})}">Add</a></th>
						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>