<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}"><head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<div layout:fragment="content" class="container">
<div class="card">
			<div class="card card-body">
				<p class="text text-center">Exam Types</p>
				<table class="table table-hover">
					<thead>
						<tr>
							<th hidden="true">ID</th>
							<th>Name</th>
							<th>Description</th>
							<th><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/examTypes/form (id=${clinicId})}">Dodaj</a></th>
						
						</tr>
					</thead>
					
					<tbody th:each="profile : ${types}">
						<tr>
							<td hidden="true" th:text="${profile.id}"></td>
							<td th:text="${profile.name}"></td>
							<td th:text="${profile.description}"></td>
							<td><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/examTypes/{examTypeId} (id=${clinicId}, examTypeId=${profile.id})}">Izmeni</a></td>
							<td><a style="width: 100%;height: 100%"  class="btn btn-outline-primary" th:href="@{/clinic/{id}/examTypes/remove/{examTypeId} (id=${clinicId}, examTypeId=${profile.id})}">Obrisi</a></td>
						
						</tr>
					</tbody>
				</table>
			</div>
		</div>
	</div>
</body>
</html>