<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<script type="text/javascript">
 $(function () {
     $('#start').on("change", function() {
            console.log($('#start').val());
            if ($("#finish").val() != "" && $("#start").val() != "" && $("#type").val() != ""){
                $( "#butt" ).trigger( "click" );

            }
     });
     $('#finish').on("change", function() {
         console.log($('#finish').val() + "ASF");
         if ($("#finish").val() != "" && $("#start").val() != "" && $("#type").val() != ""){
             $( "#butt" ).trigger( "click" );

         }
  });
     $('#type').change( function() {
         console.log($('#type').val());
         if ($("#finish").val() != "" && $("#start").val() != "" && $("#type").val() != ""){
             $( "#butt" ).trigger( "click" );

         }
  });
});

</script>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="alert alert-info" th:if="${exist}">
			<p class="text text-center">A profile with that ID number already
				exists!</p>
		</div>
		<form th:action="@{/clinic/{id}/examSlots (id=${clinicId})}"
			th:object="${examSlot}" method="post" class="jumbotron text-center">

			<!-- <div class="alert alert-dismissible alert-primary">
				<p class="text text-center">
					Every user registration is subject to admin approval. Once
					approved, a verification notification will be sent to the e-mail
					address you specified.
				</p>
			</div>
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 100%;"
					aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
			<div class="form-group spacerTop">
				<label for="IDNum" class="form-control-label">Your
					government-issued ID number (used for logging along with your
					password):</label> <input type="text" class="form-control"
					th:field="*{IDNum}" id="IDNum" />
				<div class="text text-danger" th:if="${#fields.hasErrors('IDNum')}"
					th:errors="*{IDNum}"></div>
			</div>
			<div class="form-group">
				<label for="password" class="form-control-label">Password:</label> <input
					type="password" class="form-control" th:field="*{password}"
					id="password" />
				<div class="text text-danger"
					th:if="${#fields.hasErrors('password')}" th:errors="*{password}"></div>
			</div>
			<div class="form-group">
				<label for="rePassword" class="form-control-label">Retype
					Password:</label> <input type="password" class="form-control"
					th:field="*{rePassword}" id="rePassword" />
				<div class="text text-danger"
					th:if="${#fields.hasErrors('rePassword')}"
					th:errors="*{rePassword}"></div>
			</div>
			<div class="form-group">
				<label for="email" class="form-control-label">Email:</label> <input
					type="text" class="form-control" th:field="*{email}" id="email" />
				<div class="text text-danger" th:if="${#fields.hasErrors('email')}"
					th:errors="*{email}"></div>
			</div>
			<div class="form-group">
				<label for="name" class="form-control-label">Name:</label> <input
					type="text" class="form-control" th:field="*{name}" id="name" />
				<div class="text text-danger" th:if="${#fields.hasErrors('name')}"
					th:errors="*{name}"></div>
			</div>
			<div class="form-group">
				<label for="lastName" class="form-control-label">Last name:</label>
				<input type="text" class="form-control" th:field="*{lastName}"
					id="lastName" />
				<div class="text text-danger"
					th:if="${#fields.hasErrors('lastName')}" th:errors="*{lastName}"></div>
			</div>
			<div class="form-group">
				<label for="cellNumber" class="form-control-label">Phone
					number:</label> <input type="text" class="form-control"
					th:field="*{cellNumber}" id="cellNumber" />
				<div class="text text-danger"
					th:if="${#fields.hasErrors('cellNumber')}"
					th:errors="*{cellNumber}"></div>
			</div>
			<div class="form-group">
				<label for="address" class="form-control-label">Mailing
					address:</label> <input type="text" class="form-control"
					th:field="*{address}" id="address" />
				<div class="text text-danger"
					th:if="${#fields.hasErrors('address')}" th:errors="*{address}"></div>
			</div> -->
			<div class="form-group">
				<label for="start" class="form-control-label">Exam starts:</label><input type="datetime-local" class="form-control"
					th:field="*{start}" id="start" />
				<div class="text text-danger"
					th:if="${#fields.hasErrors('start')}" th:errors="*{start}"></div>
		</div>
			<div class="form-group">
				<label for="finish" class="form-control-label">Exam duration:</label><input type="time" class="form-control"
					th:field="*{finish}" id="finish" />
				<div class="text text-danger"
					th:if="${#fields.hasErrors('finish')}" th:errors="*{finish}"></div>
			</div>
			<div class="form-group">
				<label for="type" class="form-control-label">Mailing
					address:</label> <select th:field="*{type}">
					
    				 <option th:value="0"></option>
					<option th:each="type : ${types}" th:value="${type.id}"
						th:text="${type.name}"></option>
				</select> 
				<div class="text text-danger"
					th:if="${#fields.hasErrors('type')}" th:errors="*{type}"></div>
			</div>
			<div th:if="${rooms} != null" class="form-group">
				<label for="room" class="form-control-label">Rooms:</label> <select th:field="*{room}">
					<option th:each="room : ${rooms}" th:value="${room.id}"
						th:text="${room.number}"></option>
				</select> 
			<!--  	<div class="text text-danger"
					th:if="${#fields.hasErrors('room')}" th:errors="*{room}"></div>-->
			</div>
			<div th:if="${doctors} != null" class="form-group">
				<label for="doctor" class="form-control-label">Rooms:</label> <select th:field="*{doctor}">
					<option th:each="doctor : ${doctors}" th:value="${doctor.IDNum}"
						th:text="${doctor.name} + ${doctor.lastName}"></option>
				</select> 
			<!--  	<div class="text text-danger"
					th:if="${#fields.hasErrors('room')}" th:errors="*{room}"></div>-->
			</div>
<div class="form-group">
				<label for="discount" class="form-control-label">Phone
					number:</label> <input type="number" class="form-control"
					th:field="*{discount}" id="discount" />
				<div class="text text-danger"
					th:if="${#fields.hasErrors('discount')}"
					th:errors="*{discount}"></div>
			</div>

<!-- 
			<div class="progress">
				<div class="progress-bar" role="progressbar" style="width: 100%;"
					aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
			</div>
-->
			<input type="submit" id="butt" value="Add exam"
				class="btn btn-primary spacerTop" /> 
				<a class="btn btn-primary spacerTop" th:href="@{/clinic/{id}/examSlots (id=${clinicId})}">Cancel</a>
		</form>
	</div>

</body>
</html>