<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
	<meta charset="UTF-8">
	<title>MEDz</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		
		<div class="card">
			<div class="card card-body">
				<div class="alert alert-primary">
					<strong class="text text-center">CONFIGURE AND BOOK YOUR OWN EXAM:</strong>
				</div>
				<form class="form-inline" action="/cexam">
					<div class="form-group mb-2">
						<strong>ExamType: </strong>
						<select class="form-control" id="examtype" name="examtype">
							<option th:each="type:${types}"
									th:value="${type.id}"
									th:text="${type.name}"
							/>
						</select>
						<strong class="spacerLeft">Preferred date: </strong>
						<input class="form-control" type="date" id="date" name="date"/>
						<input type="submit" value="Search available clinics" class="form-control btn btn-primary spacerLeft"/>
					</div>
				</form>			
			
				<div class="alert alert-primary">
					<strong class="text text-center">OR PICK A CLINIC NEAR YOU TO SEE THEIR PREDEFINED EXAMS:</strong>
				</div>

				<form action="/clinics">
				<table class="table table-hover">
					<thead>
						<tr>
							
								<th><input class="form-control" name="name" id="name" th:value="${searchName}" placeholder="Filter by name"/></th>
								<th><input class="form-control" name="address" id="address" th:value="${searchAddress}" placeholder="Filter by address"/></th>
								<th><input type="submit" value="Filter" class="btn btn-primary"></th>
								<th></th>
								<th></th>		
						</tr>
						<tr>
							<th>Name</th>
							<th>Address</th>
							<th>Description</th>
							<th>Avg. Review</th>
							<th></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="cl:${clinics}">
							<td th:text="${cl.name}"></td>
							<td th:text="${cl.address}"></td>
							<td th:text="${cl.description}"></td>
							<td th:text="${cl.avgReview}"></td>
							<td>
								<a class="btn btn-primary" th:href="'/pexam/'+${cl.id}" role="button">Select</a>
							</td>
						</tr>
					</tbody>
				</table>	
				</form>
			</div>
		</div>
	</div>
</body>
</html>