<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
	<meta charset="UTF-8">
	<title>MEDz</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		
		<div class="card">
			<div class="card card-body">
				<div class="alert alert-primary">
					<strong class="text text-center">CONFIGURE AND BOOK YOUR OWN EXAM:</strong>
				</div>
				<form class="form-inline" action="/clinicSearch">
					<div class="form-group mb-2">
						<select class="form-control" id="examtype" name="examtype">
							<option th:each="type:${types}"
									th:value="${type.id}"
									th:text="${type.name}"
							/>
						</select>
						<input class="form-control" type="date" id="date" name="date"/>
						<input type="submit" value="Search" class="btn btn-primary"/>
					</div>
				</form>			
			
				<div class="alert alert-primary">
					<strong class="text text-center">OR PICK A CLINIC NEAR YOU TO SEE THEIR PREDEFINED EXAMS:</strong>
				</div>

		
				<table class="table table-hover">
					<thead>
						<tr>
							<th><button type="button" class="btn btn-secondary">Name</button></th>
							<th><button type="button" class="btn btn-secondary">Address</button></th>
							<th><button type="button" class="btn btn-secondary">Description</button></th>
							<th></th>
						</tr>
					</thead>
					
					<tbody>
						<tr th:each="cl:${clinics}">
							<td th:text="${cl.name}"></td>
							<td th:text="${cl.address}"></td>
							<td th:text="${cl.description}"></td>
							<td>
								<a class="btn btn-primary" th:href="'/examOffers/'+${cl.id}" role="button">Select</a>
							</td>
						</tr>
					</tbody>
				</table>	
			</div>
		</div>
	</div>
</body>
</html>