<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
<meta charset="UTF-8">
<title>MEDz: exams</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		<div class="card">
			<div class="card card-body" style="background-color: #B0B0B0;">
				<div class="alert alert-primary">
					<h2 class="text text-center">All of your exams:</h2>
				</div>
				<div th:each="exam:${exams}" class="card spacerTop border-primary">
					<div class="card-header">
						<h2 th:text="${exam.type.name}" class="text text-center"></h2>
						<h3 th:if="${exam.report==null}"  class="text text-center">[FUTURE]</h3>
					</div>
					<div class="progress">
  						<div class="progress-bar" role="progressbar" style="width: 100%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
					</div>
					<table class="table table-hover">
						<thead>
							<tr>
								<th>eID</th>
								<th>Doctor</th>
								<th>Date</th>
								<th>Clinic</th>
								<th>Room/Floor</th>
								<th>Price</th>
							</tr>
						</thead>
						<tbody>
							<tr>
								<td th:text="${exam.id}"></td>
								<td th:text="'Dr. ' + ${exam.doctor.name} + ' ' + ${exam.doctor.lastName}"></td>
								<td th:text="${exam.start}"></td>
								<td th:text="${exam.room.clinic.name}"></td>
								<td th:text="${exam.room.number} + '/' + ${exam.room.floor}"></td>
								<td th:text="${exam.price}"></td>
							</tr>
						</tbody>
					</table>
					<div th:if="${exam.report!=null}">
						<div class="progress">
							<div class="progress-bar" role="progressbar" style="width: 100%;"
								aria-valuenow="100" aria-valuemin="0" aria-valuemax="100"></div>
						</div>
						<table class="table table-hover">
							<thead>
								<tr>
									<th>Diagnosis</th>
									<th>Medication</th>
									<th>Instructions</th>
								</tr>
							</thead>

							<tbody>
								<tr>
									<td>
										<p th:text="${exam.report.diagnosis.name}"/>
										<p th:text="${exam.report.diagnosis.description}"/>
									</td>
									<td>
										<p th:text="${exam.report.prescription.medicine.name}"/>
										<p th:text="${exam.report.prescription.medicine.description}"/>
									</td>
									<td th:text="${exam.report.prescription.description}">
								</tr>
							</tbody>
						</table>
					
						<div class="card-footer text-center">
							<a class="btn btn-primary btn-sm" th:href="'review/clinic/' + ${exam.id}+'/'" role="button">Clinic review...</a>
							<a class="btn btn-primary btn-sm" th:href="'/review/doctor/' + ${exam.id}" role="button">Doctor review...</a>
						</div>			
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>