<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
	<meta charset="UTF-8">
	<title>MEDz</title>
</head>
<body>
	<div layout:fragment="content" class="container">
		
		<div class="jumbotron">
  			<h1 class="display-3 text-center">MEDz</h1>
  			<p class="lead text-center">We keep you healthy, so you don't have to!</p>
  			<hr class="my-4">
 			<p class="text-center">Home page for clinic admins.</p>
		</div>
		
		
	
	</div>
</body>
</html>