<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org"
	xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
	layout:decorate="~{fragments/main_layout}">
<head>
	<meta charset="UTF-8">
	<title>MEDz</title>
</head>
<body>
	<div layout:fragment="content" class="container-fluid">
		
		<div class="row full-page">
			<div class="jumbotron left-sidebar col-sm-2 spacerLeft">
				<p class="lead text-center" th:text="${title}"></p>
				<hr class="my-4">
				<p class="text text-center" th:text="${msg}"></p>
			</div>
			
			<div class="jumbotron main-content col-sm-8 spacerLeft">
  				<h1 class="display-3 text-center">MEDz</h1>
  				<p class="lead text-center">We keep you healthy, so you don't have to!</p>
  				<hr class="my-4">
  				
  				<p class="lead text-center">Here are your options:</p>
  				<div class="text-center">
 					<a href="/clinics" class="btn btn-primary">Clinics (Book an exam)</a>
 					<a href="/examHistory" class="btn btn-primary">Exam history</a>
 					<a href="/records" class="btn btn-primary">Medical records</a>
 					<a href="/profile" class="btn btn-primary">Edit Profile</a>
 				</div>
			</div>
		</div>
	</div>
</body>
</html>