body
{
	background-image: url("bcg.png");
	background-repeat: repeat;
}

.spacerTop
{
    margin-top: 40px;
}
.spacerLeft
{
    margin-left: 40px;
}

.debug
{
	border: 5px solid red;
}

.width80
{
	width:80%;
}

