<!DOCTYPE html>
<html xmlns:sec="http://www.thymeleaf.com/extras/spring-security">
	<head>
		<link rel="stylesheet" th:href="@{/css/materia/bootstrap.min.css}"/>
		<link rel="stylesheet" th:href="@{/css/style.css}"/>
		<script th:src="@{/webjars/jquery/jquery.min.js}"> </script>
		<script th:src="@{/webjars/bootstrap/4.1.3/js/bootstrap.min.js}"> </script>
	</head>
	<body>
		<div th:replace="fragments/header::header">
	
		</div><div class="spacerTop"></div>
	
		<div layout:fragment="content"></div>
	
		<div th:replace="fragments/footer::footer"></div>
	</body>
</html>